@font-face {
  font-family: "iconfont"; /* Project id 2693340 */
  src: url('iconfont.woff2?t=1626941780581') format('woff2'),
       url('iconfont.woff?t=1626941780581') format('woff'),
       url('iconfont.ttf?t=1626941780581') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_zhishideng_:before {
  content: "\e62a";
}

.icon-mendoor13:before {
  content: "\e600";
  color: rgb(238, 230, 4);
}

.icon-lu:before {
  content: "\e66c";
}

